.table-container{
	display: flex;
	justify-content: center;

}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 2rem;
	
  }
  
  thead th {
	background-color: #f5f5f5;
	font-weight: bold;
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ccc;
  }
  
  tbody td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
  }
  
  tbody tr:nth-child(even) {
	background-color: #f5f5f5;
  }
  
  tbody tr:hover {
	background-color: #e0e0e0;
  }
  